@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }
}

.scroll-remove {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: scroll;
}

.scroll-remove::-webkit-scrollbar {
  display: none;
}

.cl-providerIcon__github {
  filter: invert(1);
}

.cl-logoBox {
  justify-content: center;
}

.cl-internal-wkkub3 {
  color: rgba(255, 255, 255, 0.65)
}

.glassmorphism {
  background: rgba(225, 225, 225, 0.25);
  backdrop-filter: blur(4px);
  --webkit-backdrop-filter: blur(4px)
}

.glassmorphism2 {
  background: rgba(18, 17, 17, 0.25);
  backdrop-filter: blur(8px);
  --webkit-backdrop-filter: blur(8px)
}